.header{
    margin-top: 3rem;

    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
   overflow: hidden;
    position: relative;
   
    &-figure{
        margin-left: 1.5rem;
        width: 80%;
        height: 120%;
        position: relative;

        @include respond (desktop){
            width: 70%;
            height: 100%;
            margin-left: 0;
        }
        @include respond (min-phone){
            width: 80%;
            height: 80%;
            margin-left: 2.5rem;
        }
       
    }
    &-img{
       width: 100%;
        height:100%;  
        object-fit: cover;
        background-position: center;
        background-size: cover;
        border-radius: 3px;
    }

}
.cover{
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.header-cap{
    transform: translateY(-30rem);
    z-index: 5;
    width: 86%;
    padding-left: 1.5rem;
    filter: brightness(0.8);
}

.h1{
    color: white;
    font-size: 3rem;
    box-decoration-break: clone;
    width: 50%;
    padding: 0.5rem;
  
&-2{
    width: 100%;
}
}
.h3{
   color: #FF8008;
   padding: 1rem;
   font-size: 2.3rem;
    font-weight: 300;
    @include respond (min-phone){
         font-size: 3rem;
    }
}
.header-buttons{
    transform: translateX(-5rem) translateY(8rem);
    color: white;
    z-index: 5;
    font-size: 1.5rem;
    filter: brightness(0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-move{
    margin-top: 2rem;
    border: rgba(229, 224, 224, 0.5) 1px solid;
    border-radius: 1.4rem;
    padding: 0.4rem;
    filter: brightness(0.8);
    background-color: rgba(229, 224, 224, 0.5);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        filter: brightness(1);
        transform: scale(1.1) translateY(-0.2rem);
    }

    @include respond (min-phone){
        transform: translateX(-2rem);
        font-size: 2.5rem;
    }
}
.line-btn{
    width: 0.1rem;
    height: 10rem;
    background-color: #FF8008;
    border: none;
    padding: 0;
    cursor: none;
}
.header-img{
    display: none;
}

.active-header{
    display: block;
}
.transition{
    transition: all 0.5s ease-in-out;
}